*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	height: 100vh;
}
li{
	list-style: none;
}
img{
	max-width: 100%;
}

@mixin full{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.ui{
	@include full;
	z-index: 90;
	pointer-events: none;

	//タイトル
	&-title{
		@include full;
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		background: #FFF;
		border:10px solid #56bfd3;
		display: none;
		box-sizing: border-box;
		.container[data-status="title"] &{
			display: block;
			pointer-events: auto;
		}
		h1{
			position: relative;
			width: 100%;
			margin: 50px 0;
			text-align: center;
			font-size: 0;
			ul{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				img{
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.yubiA,
			.yubiB,
			.yubiC{
				opacity: 0;
				transition:.5s;
				.onload &{
					opacity: 1;
					transform:translate(0,0);
				}
			}
			.yubiA{
				transform:translate(10px,-10px);
				transition-delay:.1s;
			}
			.yubiB{
				transform:translate(-10px,-10px);
				transition-delay:.2s;
			}
			.yubiC{
				transform:translate(10px,10px);
				transition-delay:.3s;
			}
		}
		&-navi{
			margin-top: 45px;
			li{
				text-align: center;
				margin-bottom: 30px;
			}
			span{
				display: inline-block;
				text-align: center;
				padding: 15px 20px;
				line-height: 1;
				font-size: 25px;
				font-weight: bold;
				color: #FFF;
				width: 50%;
				border-radius: 25px;
				&.btn-solo{
					background: #58bfd3;
					box-shadow: 0px 9px 0px 0px rgba(88, 191, 211, 0.58);
				}
				&.btn-multi{
					background: #f0122a;
					box-shadow: 0px 9px 0px 0px rgba(240, 18, 42, 0.58);
				}
			}
		}
	}

	&-navi{
		@include full;
		pointer-events: none;
		&-cover{
			content:"";
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #58bfd3;
		}
		&-text{
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			font-weight: bold;
			font-size: 25px;
			color: #FFF;
			padding: 5px 20px;
		}
		&-stagequestion{
			position: absolute;
			top: 70px;
			left: 0;
			width: 100%;
			text-align: center;
			font-size: 25px;
			color: #313443;
			display: none;
			font-weight: bold;
		}
	}

	&-pagechange{
		@include full;
		pointer-events: auto;
		display: none;
		color: #FFF;
		background: rgba(0,0,0,0.9);
		&-image{
			position: relative;
			width: 100%;
			display: flex;
			height: 100%;
			justify-content: center;
			align-items: center;
			font-size: 40px;
			font-weight: bold;
		}
		ul{
			margin-top: 50px;
			li{
				text-align: center;
			}
			span{
				display: inline-block;
				text-align: center;
				padding: 10px 20px;
				line-height: 1;
				background: #000;
				font-size: 20px;
				color: #FFF;
				border-radius: 10px;
			}
		}
		a{
			width: 90%;
			display: inline-block;
			text-align: center;
			padding: 15px 20px;
			line-height: 1;
			font-size: 25px;
			font-weight: bold;
			color: #FFF;
			border-radius: 25px;
			background: #58bfd3;
			text-decoration: none;
			box-shadow: 0px 9px 0px 0px rgba(88, 191, 211, 0.58);
			&.btn-solo{


			}
		}
	}
	.stage{
		padding-top: 100px;
	}
}

.stage{
	@include full;
	z-index: 10;
	box-sizing: border-box;
	padding-top: 120px;
}

.tiles-container{
	text-align: center;
}



