*{margin:0;padding:0}

div.waveBox {
	position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #58bfd3;
  height: 0px;
  width: 100%;
}
.gameStage0{
	position: relative;
	width: 100%;
	height: 500px;
	background: #FF0;
}
